<!--詳細ページ-->
<% if flash[:notice] %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>
<div class="show">
  <div class="show-content">
  <p><strong>Title:</strong>
  <%= @book.title %>
  </p>
  <p><strong>Body:</strong>
  <%= @book.body %>
  </p>
  </div>


<p>
  <%= link_to "Edit", edit_book_path(@book) ,class:"show-command" %>
  |
  <%= link_to "Back", books_path ,class:"show-command"  %>
</p>
</div>
